:root {
  --color-white: #ffffff;
  --brand-color: #4d5ae5;
  --default-header-color: #2e2f42;
  --default-footer-color: #f4f4fd;
  --default-buttons-text: #4d5ae5;
  --default-buttons-color: #e7e9fc;
  --default-buttons-background: #f4f4fd;
  --link-hover: #404bbf;
  --text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--color-white);
}

.list {
  list-style: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--default-header-color);
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--default-header-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-decoration: none;
}

.link:hover {
  color: var(--link-hover);
}

.link:focus {
  color: var(--link-hover);
}

.logo-studio {
  color: var(--default-header-color);
}

.address {
  font-style: normal;
}

.address-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.tag-line {
  background-color: var(--default-header-color);
}

.tag-line-header {
  color: var(--color-white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.main-button {
  color: #ffffff;
  background: var(--default-buttons-text);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main-button:focus {
  background-color: var(--link-hover);
}

button {
  color: var(--default-buttons-text);
  background-color: var(--default-buttons-background);
  justify-content: center;
}

button:hover {
  color: white;
  background-color: var(--link-hover);
  cursor: pointer;
}

.section-header {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--default-header-color);
}

.values-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--default-header-color);
}

.goals {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.section-team {
    background-color: var(--default-footer-color);
}

.list-item {
    background-color: var(--color-white);
}