:root {
  --background-color: #ffffff;
  --brand-color: #4d5ae5;
  --default-header-color: #2e2f42;
  --default-text-color: ##434455;
  --default-footer-color: #f4f4fd;
  --default-buttons-text: #4d5ae5;
  --default-buttons-color: #e7e9fc;
  --default-buttons-background: #f4f4fd;
  --link-hover: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default-text-color);
  background-color: var(--background-color);
}

.list {
  list-style: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--default-header-color);
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--default-header-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-decoration: none;
}

.link:hover {
  color: var(--link-hover);
}

.link:focus {
  color: var(--link-hover);
}

.logo-studio {
  color: var(--default-header-color);
}

.address {
    font-style: normal;
}

.address-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--default-text-color);
}

.main-button {
  color: #ffffff;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
button {
  color: var(--default-buttons-text);
  background-color: var(--default-buttons-background);
  border: 1px solid var(--default-buttons-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  color: white;
  background-color: #404bbf;
  cursor: pointer;
  box-shadow: 1cap;
}
